<img src="/foodbank-logo.png">

<h1>Shopping List</h1>

<p>Please help local people in crisis by buying items from the list below and leaving them at one of <strong>Bath foodbank's</strong> collect points. Thank you!</p>

<ul>
	<% @items.each do |item| %>
		<li><%= item %></li>
	<% end %>
</ul> 

<p>

</p>